{% extends "base.html.twig" %}

{% block title %}
    {% if form.vars.value.codeentreprise is null %}
        Créer une Entreprise
    {% else %}
        Modification de l'entreprise {{ form.vars.value.nomentreprise }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Inscription (Entreprise)</h1>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            {{ form_row(form.nomentreprise) }}
            {{ form_row(form.adresseentreprise) }}
            {{ form_row(form.villeentreprise) }}
            {{ form_row(form.codepostalentreprise) }}
            {{ form_row(form.telentreprise) }}
            {{ form_row(form.nomentreprise) }}

            <div class="form-check">
                {{ form_label(form.codedomaine) }}<br/>

                {% for domaine in form.codedomaine %}
                    <div class="checkbox-inline">
                        {{ form_row(domaine) }}
                    </div>
                {% endfor %}

                {{ form_errors(form.codedomaine) }}
            </div>

            <button type="submit" class="btn btn-primary btn-block" >Valider</button>

            {{ form_end(form) }}
    </div>
{% endblock %}