<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <i class="fa d-inline fa-lg fa-stop-circle"></i>
                    <b> GestStages</b>
                </a>
                <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar10">
                    <ul class="navbar-nav ml-auto">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item">
                                <a href="{{ path('addProposition') }}" class="nav-link">Ajouter une proposition</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('showAdminHome') }}" class="nav-link">Gestion</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('logout') }}" class="btn navbar-btn ml-md-2 btn-light text-dark" type="button" aria-haspopup="true" aria-expanded="false">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <button class="btn navbar-btn ml-md-2 btn-light text-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Connexion
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('connectEtu') }}">Étudiant</a>
                                    <a class="dropdown-item" href="{{ path('connectProf') }}">Enseignant</a>
                                    <a class="dropdown-item" href="{{ path('connectEntrep') }}">Entreprise</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <button class="btn navbar-btn ml-md-2 btn-light text-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Inscription
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ url('inscriptEtu') }}">Étudiant</a>
                                    <a class="dropdown-item" href="{{ url('inscriptProf') }}">Enseignant</a>
                                    <a class="dropdown-item" href="{{ path('createEntreprise') }}">Entreprise</a>
                                </div>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        </br></br>

        <div class="container">
            {% for error in app.session.flashbag.get('error') %}
                <div class="alert alert-error">
                    {{ error }}
                </div>
            {% endfor %}
            {% for notice in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ notice }}
                </div>
            {% endfor %}

            {% block body %} {% endblock %}
        </div>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
