{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4 text-center">
            <h1 class="display-3">{% include '/admin/InfosGenerales/titreInfoGenerales.html.twig'%}</h1>
            <p class="lead">{% include '/admin/InfosGenerales/infoGenerales.html.twig'%}</p>
            <a href="{{ path("afficherProposition") }}" class="btn btn-primary btn-lg">Voir les Offres</a>
        </header>
        <h3>Informations sur les différentes formations :</h3>
    <br/>
        <!-- Page Features -->
        <div class="row text-center">
            {% for uneClasse in classes  %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{ uneClasse.nomclasse }}</h4>
                            <p class="card-text">{{ uneClasse.description }}</p>
                            <p class="card-text">DATES STAGE</p>
                            {% if(uneClasse.dateDebStage is not null and uneClasse.dateFinStage is not null) %}
                                <p class="card-text">Du {{ uneClasse.dateDebStage|date('d-m-Y') }}</p>
                                <p class="card-text">Au {{ uneClasse.dateFinStage|date('d-m-Y') }}</p>
                            {% else %}
                                <p class="card-text">Non disponible</p>
                            {% endif %}

                        </div>
                        <div class="card-footer">
                            <a href="https://iut-montpellier-sete.edu.umontpellier.fr/licences-informatique/" class="btn btn-primary">Plus d'informations</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}