{% extends "base.html.twig" %}

{% block title %}Poster une offre{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="my-4">Proposition ({{ proposition.codeentreprise.nomentreprise }})</h1>
                <!-- Blog Post -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ proposition.titreproposition }}</h2>
                        <p class="card-text">{{ proposition.descriptionproposition }}</p>

                    </div>
                    <div class="card-footer text-muted">
                        Posté par <a href="#">{{ proposition.codeentreprise.nomentreprise }}</a> le {{ proposition.dateajout|date("d/m/Y") }}
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}