{% extends 'admin/base.html.twig' %}

{% block title %}Accueil admin{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ attenteValid }}</h3>

                    <p>Propositions en attente</p>
                </div>
                <div class="icon">
                    <span class="glyphicon glyphicon-time"></span>
                </div>
                {#<a href="" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ valid }}</h3>

                    <p>Propositions validée(s)</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-ok-circle"></i>
                </div>
                {#<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ refuse }}</h3>

                    <p>Propositions refusée(s)</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                </div>
                {#<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-gray">
                <div class="inner">
                    <h3>{{ archive }}</h3>

                    <p>Propositions archivée(s)</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-bookmark"></i>
                </div>
                {#<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
            </div>
        </div>
        <!-- ./col -->
    </div>

    <!-- TABLE: Propositions à valider -->
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Propositions en attente de validation</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table id="propositionsTable" class="table no-margin">
                    <thead>
                    <tr>
                        <th>Statut</th>
                        <th>Titre</th>
                        <th>Entreprises</th>
                        <th>Classes</th>
                        <th>Technologies</th>
                        <th>Commentaires</th>
                        <th>Postée le</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for uneProposition in propositions %}
                        <tr>
                            <td align="center"><br/><br/>
                                {% if (uneProposition.codeEtat.codeEtat == 1) %}<span class="label label-warning">{{ uneProposition.codeEtat.nomEtat }}</span> {% endif %}
                                {% if (uneProposition.codeEtat.codeEtat == 2) %}<span class="label label-success">{{ uneProposition.codeEtat.nomEtat }}</span> {% endif %}
                                {% if (uneProposition.codeEtat.codeEtat == 3) %}<span class="label label-info">{{ uneProposition.codeEtat.nomEtat }}</span> {% endif %}
                                {% if (uneProposition.codeEtat.codeEtat == 4) %}<span class="label label-default">{{ uneProposition.codeEtat.nomEtat }}</span> {% endif %}
                                {% if (uneProposition.codeEtat.codeEtat == 5) %}<span class="label label-danger">{{ uneProposition.codeEtat.nomEtat }}</span> {% endif %}
                            </td>
                            <td><a href="{{ path("afficherPropositionbyid", {'id': uneProposition.codeProposition}) }}">{{ uneProposition.titreproposition }}</a></td>
                            <td>{{ uneProposition.codeentreprise.nomentreprise }}</td>
                            <td>
                                {% for classe in uneProposition.codeclasse %}
                                    {{ classe.nomclasse }}<br/>
                                {% endfor %}
                            </td>
                            <td>
                                {% for techno in uneProposition.codetechnologie %}
                                    {{ techno.nomtechnologie }}<br/>
                                {% endfor %}
                            </td>
                            <td>{{ uneProposition.commentaire }}</td>
                            <td>{{ uneProposition.dateajout|date("d/m/Y H:i") }}</td>
                            <td>
                                <div class="btn-group-vertical">
                                    <a href="{{ path('editPropositionAdmin', {'id': uneProposition.codeproposition}) }}" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i> Editer</a>
                                    <a href="{{ path('validProposition', {'id': uneProposition.codeproposition}) }}" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Valider</a>
                                    <a href="{{ path('rejectProposition', {'id': uneProposition.codeproposition}) }}" class="btn btn-danger"><i class="fa fa-minus-circle" aria-hidden="true"></i> Refuser</a>
                                    <a href="{{ path('archiveProposition', {'id': uneProposition.codeproposition}) }}" class="btn btn-info"><i class="fa fa-archive" aria-hidden="true"></i> Archiver</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <a href="{{ path('showAdminListAll') }}" class="btn btn-sm btn-default btn-flat pull-right">Voir toutes les propositions</a>
        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->
{% endblock %}