{% extends "admin/base.html.twig" %}

{% block title %}Affectation d'un étudiant{% endblock %}

{% block body %}

    <div class="box">
        <div class="box-body">
            <form action="" method="post">
                <h4>Proposition : {{ proposition.titreProposition }} ({{ proposition.codeEntreprise.nomEntreprise }})</h4>
                <div class="form-group">
                    <label for="etudiants" class="title">Selectionnez un étudiant</label><br/>
                    <select name="etudiant" >
                        {% for unEtudiant in etudiants %}
                        <option value="{{ unEtudiant.id }}">{{ unEtudiant.nomEtudiant | upper }} {{ unEtudiant.prenomEtudiant | capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary btn-block" >Valider</button>
            </form>
        </div>
    </div>
{% endblock %}
