{% extends "admin/base.html.twig" %}

{% block title %}Liste des propositions{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap3.min.css') }}">
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-body table-responsive">
            <table id="propositionsTable" class="table table-bordered">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Entreprise</th>
                    <th>Classe(s)</th>
                    <th class="visible-lg">Technologie(s)</th>
                    <th>Commentaire</th>
                    <th>Postée le</th>
                    <th>Personne(s) affectée(s)</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for uneProposition in propositions  %}
                    <tr>
                        <td>
                            {% if (uneProposition.codeEtat.codeEtat == 1) %}<span class="label label-warning">{{ uneProposition.codeEtat.nomEtat }}</span> {% endif %}
                            {% if (uneProposition.codeEtat.codeEtat == 2) %}<span class="label label-success">{{ uneProposition.codeEtat.nomEtat }}</span> {% endif %}
                            {% if (uneProposition.codeEtat.codeEtat == 3) %}<span class="label label-info">{{ uneProposition.codeEtat.nomEtat }}</span> {% endif %}
                            {% if (uneProposition.codeEtat.codeEtat == 4) %}<span class="label label-default">{{ uneProposition.codeEtat.nomEtat }}</span> {% endif %}
                            {% if (uneProposition.codeEtat.codeEtat == 5) %}<span class="label label-danger">{{ uneProposition.codeEtat.nomEtat }}</span> {% endif %}
                            <br/><br/>
                            <a href="{{ path("AdminPropositionbyid", {'id': uneProposition.codeproposition}) }}">
                                {% if uneProposition.titreproposition|length > 30 %}
                                    {{ uneProposition.titreproposition[:30] }}...
                                {% else %}
                                    {{ uneProposition.titreproposition }}
                                {% endif %}
                            </a>
                        </td>
                        <td>{{ uneProposition.codeentreprise.nomentreprise }}</td>
                        <td>
                            {% for classe in uneProposition.codeclasse %}
                                {{ classe.nomclasse }}<br/>
                            {% endfor %}
                        </td>
                        <td class="visible-lg">
                            {% for techno in uneProposition.codetechnologie %}
                                {{ techno.nomtechnologie }}<br/>
                            {% endfor %}
                        </td>
                        <td>{{ uneProposition.commentaire }}</td>
                        <td>{{ uneProposition.dateajout|date("d/m/Y H:i") }}</td>
                        <td><b>Etudiant :</b>
                            {% if (uneProposition.codeEtudiant is not null) %}
                                {{ uneProposition.codeEtudiant.prenomEtudiant }} {{ uneProposition.codeEtudiant.nomEtudiant }} ({{ uneProposition.codeEtudiant.codeClasse.nomClasse }})
                            {% else %}
                                non affecté
                            {% endif %}
                            <br/><br/>

                            <b>Professeur :</b>
                            {% if (uneProposition.codeProfesseur is not null) %}
                                {{ uneProposition.codeProfesseur.nomProf }} {{ uneProposition.codeProfesseur.prenomProf }}
                            {% else %}
                                non affecté
                            {% endif %}
                            <br/><br/>

                            <b>Contact :</b>
                            {% if (uneProposition.codeContact is not null) %}
                                {{ uneProposition.codeContact.nomContact }} {{ uneProposition.codeContact.prenomContact }}
                            {% else %}
                                non affecté
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group-vertical">

                                {% if (uneProposition.codeEtat.codeEtat == 1) %}
                                    <a href="{{ path('editPropositionAdmin', {'id': uneProposition.codeproposition}) }}" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i> Editer</a>
                                    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#validProposition-{{ uneProposition.codeproposition }}"><i class="fa fa-check" aria-hidden="true"></i> Valider</a>
                                    <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#rejectProposition-{{ uneProposition.codeproposition }}"><i class="fa fa-minus-circle" aria-hidden="true"></i> Refuser</a>
                                    <a href="#" class="btn btn-info" data-toggle="modal" data-target="#archiveProposition-{{ uneProposition.codeproposition }}"><i class="fa fa-archive" aria-hidden="true"></i> Archiver</a>
                                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteProposition-{{ uneProposition.codeproposition }}"><i class="fa fa-minus-circle" aria-hidden="true"></i> Supprimer</a>
                                {% endif %}

                                {% if (uneProposition.codeEtat.codeEtat == 2) %}
                                    <a href="{{ path('editPropositionAdmin', {'id': uneProposition.codeproposition}) }}" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i> Editer</a>
                                    {% if (uneProposition.codeEtudiant is null) %}
                                        <a href="{{ path('affecterEtudiant', {'id': uneProposition.codeproposition}) }}" class="btn btn-tumblr"><i class="fa fa-plus" aria-hidden="true"></i> Etudiant</a>
                                        <a href="#" class="btn btn-info" data-toggle="modal" data-target="#archiveProposition-{{ uneProposition.codeproposition }}"><i class="fa fa-archive" aria-hidden="true"></i> Archiver</a>
                                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteProposition-{{ uneProposition.codeproposition }}"><i class="fa fa-minus-circle" aria-hidden="true"></i> Supprimer</a>
                                    {% else %}
                                        <a href="{{ path('desaffecterEtudiant', {'id': uneProposition.codeproposition}) }}" class="btn btn-adn"><i class="fa fa-remove" aria-hidden="true"></i> Etudiant</a>
                                        {% if (uneProposition.codeProfesseur is null) %}
                                            <a href="{{ path('affecterProfesseur', {'id': uneProposition.codeproposition}) }}" class="btn btn-tumblr"><i class="fa fa-plus" aria-hidden="true"></i> Professeur</a>
                                        {% else %}
                                            <a href="{{ path('desaffecterProfesseur', {'id': uneProposition.codeproposition}) }}" class="btn btn-adn"><i class="fa fa-remove" aria-hidden="true"></i> Professeur</a>
                                        {% endif %}
                                        {% if (uneProposition.codeContact is null) %}
                                            <a href="{{ path('affecterContact', {'id': uneProposition.codeproposition}) }}" class="btn btn-tumblr"><i class="fa fa-plus" aria-hidden="true"></i> Contact</a>
                                        {% else %}
                                            <a href="{{ path('desaffecterContact', {'id': uneProposition.codeproposition}) }}" class="btn btn-adn"><i class="fa fa-remove" aria-hidden="true"></i> Contact</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {% if (uneProposition.codeEtat.codeEtat == 4) %}
                                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteProposition-{{ uneProposition.codeproposition }}"><i class="fa fa-minus-circle" aria-hidden="true"></i> Supprimer</a>
                                {% endif %}

                                {% if (uneProposition.codeEtat.codeEtat == 5) %}
                                    <a href="#" class="btn btn-info" data-toggle="modal" data-target="#archiveProposition-{{ uneProposition.codeproposition }}"><i class="fa fa-archive" aria-hidden="true"></i> Archiver</a>
                                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteProposition-{{ uneProposition.codeproposition }}"><i class="fa fa-minus-circle" aria-hidden="true"></i> Supprimer</a>
                                {% endif %}

                            </div>
                        </td>
                        {% include 'admin/propositions/modals/deletePropositionModal.html.twig' %}
                        {% include 'admin/propositions/modals/archivePropositionModal.html.twig' %}
                        {% include 'admin/propositions/modals/rejectPropositionModal.html.twig' %}
                        {% include 'admin/propositions/modals/validPropositionModal.html.twig' %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap3.min.js') }}"></script>
    <script>
        $(document).ready( function () {
            $('#propositionsTable').DataTable({
                "language": {
                    "url": "{{ asset('js/datatables-french.json') }}"
                }
            });
        });
    </script>
{% endblock %}