{% extends "admin/base.html.twig" %}

{% block title %}Propositions en attente{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/propositionsAdmin.css') }}">{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-body">
            <table id="propositionsTable" class="table table-bordered">
                <thead>
                <tr>
                    <th>Statut</th>
                    <th>Titre</th>
                    <th>Entreprise</th>
                    <th>Classe(s)</th>
                    <th>Technologie(s)</th>
                    <th>Commentaire</th>
                    <th>Postée le</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for uneProposition in propositions  %}
                    <tr>
                        <td align="center">{{ uneProposition.codeEtat.nomEtat }}<br/><br/>
                            {% if (uneProposition.codeEtat.codeEtat == 1) %}<div id="cercleAttente"></div>{% endif %}
                            {% if (uneProposition.codeEtat.codeEtat == 2) %}<div id="cercleValid"></div>{% endif %}
                            {% if (uneProposition.codeEtat.codeEtat == 3) %}<div id="cercleAffecte"></div>{% endif %}
                            {% if (uneProposition.codeEtat.codeEtat == 4) %}<div id="cercleArchive"></div>{% endif %}
                            {% if (uneProposition.codeEtat.codeEtat == 5) %}<div id="cercleRefuse"></div>{% endif %}
                        </td>
                        <td><a href="{{ path("afficherPropositionbyid", {'id': uneProposition.codeProposition}) }}">{{ uneProposition.titreproposition }}</a></td>
                        <td>{{ uneProposition.codeentreprise.nomentreprise }}</td>
                        <td>
                            {% for classe in uneProposition.codeclasse %}
                                {{ classe.nomclasse }}<br/>
                            {% endfor %}
                        </td>
                        <td>
                            {% for techno in uneProposition.codetechnologie %}
                                {{ techno.nomtechnologie }}<br/>
                            {% endfor %}
                        </td>
                        <td>{{ uneProposition.commentaire }}</td>
                        <td>{{ uneProposition.dateajout|date("d/m/Y H:i") }}</td>
                        <td>
                            <a href="{{ path('editProposition', {'id': uneProposition.codeproposition}) }}" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i> Editer</a><br/>
                            {% if uneProposition.codeEtat.codeEtat != 3 %}
                                {% if uneProposition.codeEtat.codeEtat != 2 %}
                                    <a href="{{ path('validProposition', {'id': uneProposition.codeproposition}) }}" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Valider</a><br/>
                                {% endif %}
                                {% if uneProposition.codeEtat.codeEtat != 5 %}
                                    <a href="{{ path('rejectProposition', {'id': uneProposition.codeproposition}) }}" class="btn btn-danger"><i class="fa fa-minus-circle" aria-hidden="true"></i> Refuser</a><br/>
                                {% endif %}
                                {% if uneProposition.codeEtat.codeEtat != 4 %}
                                    <a href="{{ path('archiveProposition', {'id': uneProposition.codeproposition}) }}" class="btn btn-info"><i class="fa fa-archive" aria-hidden="true"></i> Archiver</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#propositionsTable').DataTable({
                "language": {
                    "url": "{{ asset('js/datatables-french.json') }}"
                }
            });
        });
    </script>
{% endblock %}