{% extends "base.html.twig" %}

{% block title %}Poster une offre{% endblock %}

{% block body %}
    <h1>Poster une offre</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.titreproposition) }}
    {{ form_row(form.descriptionproposition) }}
    {{ form_row(form.codeentreprise) }}
    {{ form_row(form.titreproposition) }}
    {{ form_row(form.titreproposition) }}

    <div class="form-group form-inline">
        {{ form_label(form.codeclasse, "Classe(s) concernée(s)") }}
        {% for classe in form.codeclasse %}
            <div class="form-check form-check-inline">
                {{ form_row(classe) }}
            </div>
        {% endfor %}
    </div>

    {{ form_row(form.codetechnologie) }}
    {{ form_row(form.file) }}

    {% if is_granted('ROLE_RESPSTAGES') %}
        {{ form_row(form.commentaire) }}
    {% endif %}

    <button type="submit" class="btn btn-primary btn-block" >Envoyer</button>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{{ asset('js/select2_fr.js') }}"></script>
    <script>
        $('#appbundle_propositions_codeentreprise').select2({
            ajax: {
                url: '{{ path('app_entreprises_searchentreprise') }}',
                dataType: 'json',
                delay: 200,
                cache: true,
            },
            language: 'fr'
        });
        $('#appbundle_propositions_codetechnologie').select2({
            multiple: true,
            ajax: {
                url: '{{ path('app_technologies_searchtechnologie') }}',
                dataType: 'json',
                delay: 200,
                cache: true,
            },
            tags: true,
            language: 'fr'
        });
    </script>

{% endblock %}