{% extends "admin/base.html.twig" %}

{% block title %}
    {% if form.vars.value.codecontact is null %}
        Nouveau contact ({{ entreprise.nomentreprise }})
    {% else %}
        Modification du contact {{ form.vars.value.nomcontact | upper }} {{ form.vars.value.prenomcontact | capitalize }} ({{ entreprise.nomentreprise }})
    {% endif %}
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-body">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="form-group">
                <a href="{{ path('showContacts', {'id':entreprise.codeentreprise}) }}" class="btn btn-sm btn-success">
                    <i class="fa fa-mail-reply" aria-hidden="true"></i> Retour
                </a>
            </div>

            {{ form_row(form.nomcontact) }}
            {{ form_row(form.prenomcontact) }}
            {{ form_row(form.userContact) }}
            {{ form_row(form.postecontact) }}
            {{ form_row(form.mailcontact) }}
            {{ form_row(form.telcontact) }}

            <button type="submit" class="btn btn-primary btn-block" >Valider</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}